## Creating Database with MySQL

In [71]:
import mysql.connector as sql

connection=sql.connect(host="localhost",
                      user='root',
                      password="ashishdotc4"
                      )

print ("Successfully Connected at",connection)

Successfully Connected at <mysql.connector.connection_cext.CMySQLConnection object at 0x0000000007526EB0>

#### Cusrors: In MySQL, a cursor allows row-by-row processing of the result sets. A cursor is used for the result set and returned from a query. By using a cursor, you can iterate, or step through the results of a query and perform certain operations on each row.

## Creating Databases

In [72]:
cursor=connection.cursor()
cursor.execute("CREATE DATABASE  Ash10")

In [73]:
cursor.execute('SHOW DATABASES')

In [74]:
for i in cursor:
    print(i)

('ash',)
('ash10',)
('ashish',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

## Creating Tables

In [37]:
import mysql.connector as sql

connection=sql.connect(host="localhost",
                      user='root',
                      password="ashishdotc4",
                       database="ash10"
                      )

print ("Successfully Connected at",connection)

Successfully Connected at <mysql.connector.connection_cext.CMySQLConnection object at 0x00000000076F0940>

In [38]:
cursor=connection.cursor()
cursor.execute("CREATE TABLE detail1 (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255), email VARCHAR(255))")

## Insert Records in Table

In [39]:
query="INSERT INTO detail (name,email) VALUES(%s,%s)"
value= ("ashish","ashish1233@gmail.com")
cursor.execute(query,value)
print("Query Inseted at row number",cursor.lastrowid)

Query Inseted at row number 8

In [40]:
### Inseritng multiple records in table

query="INSERT INTO detail1 (name,email) VALUES(%s,%s)"
values = [("Ashish", "krish@gmail.com"),
        ("Joe", "Maths@gmail.com"),
        ("Ankur","DataScience@gmail.com"),
        ("Ashish","Data Science@gmail.com"),
        ("Vishal","Maths@gmail.com"),
        ("Krish","DataScience@gmail.com")]
cursor.executemany(query,values)
print("Query Inseted at row number",cursor.lastrowid)

Query Inseted at row number 1

# Select All

In [56]:
cursor.execute("Select * from detail1")

In [57]:
## for fetching all the data
cursor.fetchall()

[(1, 'Ashish', 'krish@gmail.com'),
 (2, 'Joe', 'Maths@gmail.com'),
 (3, 'Ankur', 'DataScience@gmail.com'),
 (4, 'Ashish', 'Data Science@gmail.com'),
 (5, 'Vishal', 'Maths@gmail.com'),
 (6, 'Krish', 'DataScience@gmail.com')]

In [58]:
## for fetching one data at a time
cursor.fetchone()

In [59]:
lst=cursor.fetchall()

In [60]:
for detail in lst:
    print(detail)

In [61]:
cursor.execute("Select * from detail1 where name='Ashish'")

In [62]:
cursor.fetchall()

[(1, 'Ashish', 'krish@gmail.com'), (4, 'Ashish', 'Data Science@gmail.com')]

## Select particular Columns

In [63]:
cursor.execute("Select * from detail1 where email='DataScience@gmail.com'")
cursor.fetchall()

[(3, 'Ankur', 'DataScience@gmail.com'), (6, 'Krish', 'DataScience@gmail.com')]

In [64]:
cursor.execute("Select email from detail1")

In [65]:
cursor.fetchall()

[('krish@gmail.com',),
 ('Maths@gmail.com',),
 ('DataScience@gmail.com',),
 ('Data Science@gmail.com',),
 ('Maths@gmail.com',),
 ('DataScience@gmail.com',)]

In [66]:
cursor.execute("Select DISTINCT email from detail1")
cursor.fetchall()

[('krish@gmail.com',),
 ('Maths@gmail.com',),
 ('DataScience@gmail.com',),
 ('Data Science@gmail.com',)]

In [69]:
cursor.execute("Select name,email from detail1 where name='krish' or email='Data Science@gmail.com'")
cursor.fetchall()

[('Ashish', 'Data Science@gmail.com'), ('Krish', 'DataScience@gmail.com')]

## Droping a Table